html, body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 100px;
  margin: 0 20%;
  --god-var: 5;
}

.life {
  width: 350px;
  transform: scale(calc(var(--god-var) * 0.01 + 0.8))
    /* rotate3d(1, 1, 0, calc(var(--god-var) * 0.5deg)) */
    translate(calc(var(--god-var) * 0.1px), calc(var(--god-var) * 0.2px));
}
p {
  font-size: 36px;
  font-weight: 700;
  font-family: sans-serif;
  color: aquamarine;
  transform: translate(calc(var(--god-var) * -3.1px), calc(var(--god-var) * 0.5px));
}
