html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

.top {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.8s ease;
  overflow: hidden;
}

.top div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.8s ease;
}

.top p {
  color: #00ffff;
  font-size: 2rem;
  font-weight: 700;
  font-family: sans-serif;
}

.top img {
  height: 400px;
}

.top button {
  border: 1px solid #fff;
  background: inherit;
  color: #fff;
  padding: 6px;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 3;
}

.top button:hover {
  color: #00ffff;
  border: 1px solid #00ffff;
}
