@font-face {
  font-family: "Manrope";
	src: url("./fonts/bold.woff2") format("woff2"),
		   url("./fonts/semibold.woff2") format("woff2"),
       url("./fonts/regular.woff2") format("woff2");
}

* { 
  box-sizing: border-box;
}

html, body {
	height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
	--color-text: #222;
	--color-bg: #f7eaf3;
	--color-link: #555;
	--color-link-hover: #fff;
	--color-intro-bg: #0e0e0e;
	--color-intro-title: #00ff88;
	--color-link-shadow: #f0f8ff;
	--color-enter: #fff;
	--color-content-title: #111;
	--color-content-text: #868181;
	--color-select: #111;
	--color-select-item: #868181;
	--color-select-item-hover: #000;
	--color-select-current: #111;
	--color-reel-number: #111;
	--color-menu-link: #101010;
	--color-menu-link-hover: #000;
	--color-overlay: #368a63;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: Manrope, sans-serif;
	text-rendering: optimizeLegibility;
}

main {
	width: 100%;
	height: 100%;
	position: relative;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-intro-bg);
}

.loading::after {
	content: 'simple smiles are a myth';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin: -15px 0 0 -15px;
	pointer-events: none;
	opacity: 0.1;
	background: var(--color-intro-title);
	transform-origin: 50% 100%;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.content,
.content__move {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	align-items: center;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: center;
	position: relative;
}

.content--hidden {
	pointer-events: none;
}

.content__move {
	will-change: transform;
	overflow: hidden;
	background: var(--color-intro-bg);
}

.content--first {
	position: fixed;
}

.content--second {
	pointer-events: none;
}

.content--second a,
.content--second button {
	pointer-events: auto;
}

.content--third .reel {
  margin-top: 80px;
}

.content__reverse {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	will-change: transform;
}

.intro {
	position: relative;
	display: grid;
	grid-template-rows: auto 40vh 20vh auto;
	grid-template-columns: 100%;
	align-items: center;
	justify-items: center;
	width: 100vw;
	height: 100vh;
}

.intro__img {
	background-position: 50% 0%;
	background-size: cover;
	width: 220px;
	height: 80%;
	max-height: 600px;
	grid-row: 2 / span 2;
	grid-column: 1;
	position: relative;
}

.intro__title {
	position: relative;
	grid-row: 2 / span 2;
	grid-column: 1;
	font-family: Manrope, sans-serif;
	font-weight: 700;
	font-size: 64px;
	transform: translate(30%, -50%);
	line-height: 1;
	margin: 0;
	color: var(--color-intro-title);
	text-shadow: 1px 1px var(--color-link-shadow);
	cursor: default;
}

.intro__enter {
	position: relative;
	left: 10px;
	grid-row: 3;
	grid-column: 1;
	color: var(--color-enter);
	text-shadow: 1px 1px var(--color-link-shadow);
	transform: translateX(-40px);
	font-size: 1.4rem;
}

.intro__enter::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 4px;
	background: var(--color-intro-title);
	transform: scale3d(0,1,1) translateX(-40px);
	opacity: 0;
	top: calc(100% + -4px);
	left: 0;
	transform-origin: 0% 50%;
	transition: opacity 0.3s, transform 0.3s;
}

.intro__enter:hover::after {
	opacity: 1;
	transform: scale3d(1,1,1);
}

.content--grid {
	padding: 2rem;
	grid-template-columns: 50% 50%;
	grid-template-rows: 40px auto auto auto;
	grid-template-areas: 	'back ...'
							'title title'
							'reel reel'
							'select select';
}

.content__back {
	background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32px' height='22px' viewBox='0 0 32 22' %3E %3Cpath d='M1.301 10.658L11.615.344 14.39 3.12 8.616 8.893H30.73v3.923H8.617l5.773 5.774-2.775 2.774L1.301 11.05a.28.28 0 0 1 0-.392z' stroke='%23000000' stroke-width='1px' fill='none'/%3E %3C/svg%3E") no-repeat 50% 50%;
	margin: 0;
	border: 0;
	grid-area: back;
	width: 32px;
	height: 22px;
	align-self: start;
}

.content__back:focus,
.content__back:hover {
	outline: none;
	background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32px' height='22px' viewBox='0 0 32 22' %3E %3Cpath d='M1.301 10.658L11.615.344 14.39 3.12 8.616 8.893H30.73v3.923H8.617l5.773 5.774-2.775 2.774L1.301 11.05a.28.28 0 0 1 0-.392z' stroke='%23000000' stroke-width='1px' fill='%23000000'/%3E %3C/svg%3E") no-repeat 50% 50%;
}

.content__title {
	font-family: Manrope, sans-serif;
	font-weight: 700;
	color: var(--color-content-title);
	font-size: 2.5rem;
	line-height: 1;
	position: relative;
	margin: 0 0 1rem 0;
	padding: 0 0 1rem 0;
	grid-area: title;
	cursor: default;
}

.content__title::after {
	content: '';
	position: absolute;
	width: 3rem;
	height: 1px;
	background: currentColor;
	top: 100%;
	left: 0;
}

.reel {
	grid-area: reel;
	align-self: start;
	max-width: 250px;
}

.reel__img {
	width: 200px;
	display: block;
	margin-bottom: 1.5rem;
	float: left;
}

.reel__text {
	height: 350px;
	display: block;
	margin: 0 0 1.5rem 205px;
	font-size: 2rem;
	font-family: Manrope, sans-serif;
	font-weight: 700;
	line-height: 1;
	transform-origin: 50% 1.357rem;
	color: var(--color-reel-number);
}

.reel__text:nth-of-type(2n + 1) {
  margin: 0 0 1.5rem 175px;
  mix-blend-mode: overlay;
}

.reel__img + .reel__text {
	float: right;
  color: red;
}

.select {
	grid-area: select;
	color: var(--color-select);
}

.select__heading {
	display: inline-block;
	cursor: default;
}

.select__item {
	margin: 0 0 0 0.5rem;
	display: inline-block;
	cursor: pointer;
	color: var(--color-select-item);
}

.select__item:hover {
	color: var(--color-select-item-hover);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.overlay__inner {
	width: 200%;
	height: 200%;
	position: relative;
	flex: none;
	background: var(--color-overlay);
	will-change: transform;
}

.overlay__inner--color-1 {
	background: var(--color-overlay-1);
}

.overlay__inner--color-2 {
	background: var(--color-overlay-2);
}

.overlay__inner--color-3 {
	background: var(--color-overlay-3);
}

@media screen and (min-width: 53em) {
	.content--first {
		position: relative;
	}
  .content--third .reel {
    margin-top: 0;
  }
	.content--grid {
		padding: 3rem 3rem;
		grid-template-columns: 50% auto;
		grid-column-gap: 1rem;
		grid-template-rows: repeat(4,25%);
		grid-template-areas: 	'back ...'
								'title reel'
								'... reel'
                'select reel';
	}
	.content__title {
		font-size: 4.5rem;
		margin: 0 0 4rem 0;
		padding: 0 0 2rem 0;
	}
	.reel {
		margin: 0 0 -8rem 0;
	}
  .reel__text {
	  width: 225px;
  }
	.select {
		text-align: left;
		margin-top: auto;
		align-self: end;
	}
	.select__heading {
		display: block;
	}
	.select__item {
		display: block;
		margin: 0;
	}
  .intro__img {
    width: 320px;
    height: 100%;
  }
  .intro__title {
    font-size: 128px;
  }
}
